.FlightList {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__loadMoreBtn{
        width: 25%;
        height: 3rem;
    }
    &__item{
        width: 75vw;
        background-color: whitesmoke;
        margin: 1rem;
        &__btn{
            width: 95%;
            background-color: orange;
            color: white;
            border: 0;
            height: 3rem;
        }
        &__header{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            background-color: lightskyblue;
            color: white;
            &__price{
                font-size: 1.5em;
                margin-right: 1em;
            }
            &__title{
                font-size: 0.8em;
                margin-right: 1em;
            }
        }
        &__travel{
            display: flex;
            flex-direction: column;
            &_first{
                border-bottom: 1px lightblue solid;
            }
            &__airports{
                display: flex;
                justify-content: space-around;
                font-size: 1.5rem;
                u {
                    color: lightblue;
                    text-decoration: none;
                }
            }
            &__info{
                display: flex;
                justify-content: space-evenly;
                u {
                    color: lightblue;
                    text-decoration: none;
                }
            }
            &__transfer{
                color: orange;
            }
            &__company{
                align-self: start;
                padding-left: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }
}